@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);

@media screen and (max-width:987px){
	body{
		font-style: 12px !important;
	}

#gallery-2 img{
		max-width: 100px !important;
	}
}

@media screen and (max-width:812px){
#gallery-2 img{
		max-width: 70px !important;
	}
}
*{
	padding:0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}
  

body{
	font-size: 16px;
	font-style: 'Comfortaa';
}
a{
	color: blue;
}
.responsive-img{
	 width: 100%;
	 height: auto;
	 width: auto; /* для ie 8 */
	 display: block;
}
.table{
	display: table;
    width: 100%;
    table-layout: fixed;

}
.table-row{
	display: table-row;
	width: 98%;
	min-width: 780px;
	max-width: 1324px;
	margin: 0 auto;
}
.table-cell{
	display: table-cell;
    vertical-align: top;
}
.table-cell-1{
	display: table-cell;
    vertical-align: top;
	width: 250px;
    position: relative;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 60px 60px 0 0 / 5px 5px 0 0;
    background-image: linear-gradient(102deg, rgba(0,0,0,.1), rgba(0,0,0,.05) 10px, rgba(0,0,0,0) 20px),linear-gradient(-102deg, rgba(0,0,0,.1), rgba(0,0,0,.05) 10px, rgba(0,0,0,0) 20px);
    background-color: #fff;
    margin: 1em 0 0 -3px;
    z-index: 0;
}
.clearfix{
	z-index: 0;
	/* display: table */
    -height: 1%; /*IE6*/
    *zoom: 1; /*IE6-7*/
    display: table;
	
}
.clearfix:after {
    /*content: '1 1';*/  /*Op15+*/
   content: '1 1 1 1 1 1 1 1 1 1 1'; /*Op12+*/
   font: .1px/0 a;
   display: block;
   word-spacing: 99in;
   overflow: hidden; /*IE8-*/
}

.wrapper{

	background: #FFFFFF;
	border-radius: 0px 0px 19px 19px;
	-moz-border-radius: 0px 0px 19px 19px;
	-webkit-border-radius: 0px 0px 19px 19px;
	border: 0px solid #000000;
	-webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.5);
	padding: 7px;
	margin: 0 auto;
	margin-bottom: 50px;
	position: relative;
	cursor: auto;
	width: 98%;
	min-width: 780px;
	max-width: 1324px;
	 
	
}

.header {
		-webkit-border-radius: 0 0 10px 10px;
	    -moz-border-radius: 0 0 10px 10px;
	    border-radius: 0 0 10px 10px;
	    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	    margin: 0 auto;
	    height: 350px;
	    background-image: url('../img/header.jpg');
	    background-size: 100% 350px;
	    background-position: center top;
	    background-repeat: no-repeat;
	    position: relative;
	   width: 98%;
	   min-width: 780px;
	   max-width: 1324px;
}

 .searchimg{
 	background: url(../img/search.png) 0 0 no-repeat;
 	background-size: 100% 70px;
 	width: 100%;
    height: 84px;
    margin: -26px 0 -19px 0px;
    padding: 0 0 15px 0;
    z-index: 1;

	

} 
.searchform input {
	height: 20px;
	width: 90%;
	margin: 43px 0 0 10px;
	border: none;
	position: relative;
	max-width: 90%;

	
	/* -webkit-border: 1px solid #5A8327;
	-moz-border: 1px solid #5A8327;
	border: 1px solid #5A8327;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(90,130,38,1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(90,130,38,1);
	box-shadow: 0px 0px 20px 0px rgba(90,130,38,1);
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px; */
	
	
}

.searchform [placeholder] {
	color: #5A8327;
	font-weight: bold;
}

input:focus{
	border: none !important;
	/*  -webkit-box-shadow: 0px 0px 92px 0px rgba(92,133,39,1);
	-moz-box-shadow: 0px 0px 92px 0px rgba(92,133,39,1);
	box-shadow: 0px 0px 92px 0px rgba(92,133,39,1);
	-webkit-border: 1px solid #5A8327;
	-moz-border: 1px solid #5A8327;
	border: 1px solid #5A8327; */

} 
.red-tooltip + .tooltip > .tooltip-inner 
{background-color: #5A8327;}

.divmenu{
	 padding: 0;
	 width:100%;
}
#topmenu {
	list-style-type:none;
	text-decoration: none;
	padding: 0px 1px 0.4px 0px;
	margin:0 auto;
}
#topmenu li{
	padding: 15px 0 0 0;
	margin: 10px auto;
	border-bottom: 1px dotted #60903B;
	width: 90%;
	text-align: center;
}
#topmenu li a {
		letter-spacing: 0.2px;
		font-family: 'Noto Serif', serif;
		font-weight: bold;
		color: #D69023;
}
#topmenu li a:hover{
	color: #60903B;

}
.menuleft{
	-webkit-box-shadow: inset 0px 0px 29px 0px rgba(86,194,14,1);
	-moz-box-shadow: inset 0px 0px 29px 0px rgba(86,194,14,1);
	box-shadow: inset 0px 0px 29px 0px rgba(86,194,14,1);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}
.menuleft ul{
	list-style-type:none;
	text-decoration: none;

}
ul#s > li {
	 margin-left: 20px;
	 list-style: none;
	 float: left;
	 text-align: center;
	 position: relative;
	 padding: 12px 0 8px 0;

}

ul#s > li > a{
	padding: 5px 10px 5px 10px;
	letter-spacing: 0.2px;
	font-size: 120%;
	font-family: 'Marck Script', serif;
	font-weight: bold;
	color: #60903B;
	display: block;

}
ul#s > li a:hover {
         color:white;
	    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#3a611a),color-stop(1,#729e31));
		background: -ms-linear-gradient(bottom,#3a611a,#729e31);
		background: -moz-linear-gradient(center bottom,#3a611a 0%,#729e31 100%);
		background: -o-linear-gradient(#729e31,#3a611a);
		-moz-background-clip: padding-box;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border-radius: 13px 13px 13px 13px;
		-moz-border-radius: 13px 13px 13px 13px;
		-webkit-border-radius: 13px 13px 13px 13px;
        cursor: pointer;
                
}
/*Галвная меню*/
.act{

	color:white !important;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#3a611a),color-stop(1,#729e31));
	background: -ms-linear-gradient(bottom,#3a611a,#729e31);
	background: -moz-linear-gradient(center bottom,#3a611a 0%,#729e31 100%);
	background: -o-linear-gradient(#729e31,#3a611a);
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 13px 13px 13px 13px;
	-moz-border-radius: 13px 13px 13px 13px;
	-webkit-border-radius: 13px 13px 13px 13px;
	clear: both;
	margin-bottom: 5px;
	cursor: default !important;


}

.centeritem{
	    width: 98%;
	    padding: 30px;
	    margin: 20px 20px 0px 10px;
	    background: #fff;
	    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	    border: 1px solid #efefef;
	    -moz-border-radius: 0 0 120px 120px / 0 0 6px 6px;
	    border-radius: 0 0 120px 120px / 0 0 6px 6px;
	    z-index: 0;
	    font-family: Arial;
	    text-align: left;
	    font-weight: 400;
	    text-decoration: none;
	    text-transform: none;
	    font-style: normal;
	    font-size: 100%;
	    line-height: 1.7;
	    letter-spacing: 0.1em;
	    word-spacing: 0em;
	    text-indent: 0em;
	    color: #000000;
	    background: #f7f7f7;
}
.centeritem > h1 {
		margin: 0 auto;
		color: rgba(55, 158, 4, 0.72);
	    margin: 10px 0 0 10px;
	    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	    font-weight: bold;
	    font-style: normal;
	    text-align: center;
	    font-size: 129%;
}
.centeritem p{
	padding: 0 30px;
}
.centeritem > h1 a:visited{
	color: rgba(55, 158, 4, 0.72);
}
.centeritem hr {
	 
	margin: -0.5px  1px 1px 1px;
}

.myfooter img{
		
		padding: 0;
		position: relative;
	    width: 100%;
	    left: 0;
	    bottom: 0;
	    overflow: hidden;
	    background-size:cover;
	    min-width: 100%;
	    height:218px;

}
.contmail{
	position: absolute;
	margin: 0 auto;
	
}
.hidden{
	display: none;
}
#form{
	position: relative;
	text-align: center;
	margin: 0 auto;
	color: black;
	width: 650px;
	min-width: 650px;
	height: auto;
	background: white;
	padding: 3em;
}
#form p{
	font-size: 120%;
}
#form input {
	margin-right: 5em;
}
.formblock{
	text-align: right;
	padding-bottom: 0.3em;
}
.formblock label {
	float:left; 
	padding-left: 5em;
}
#gallery-2,#gallery-1 {
	margin: 0 auto;
    padding: 30px;
}
#gallery-2 img,#gallery-1 img{
	-webkit-box-shadow: 0px 13px 33px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 13px 33px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 13px 33px 1px rgba(0,0,0,0.75);
	margin: 10px;
	max-width: 150px;
	
}
.gallery-item:hover{
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
}
.cont ul{
	display: table;
	width: 100%;

}
.cont ul li {
	float: left;
	padding: 2px 0 0 32px;
	list-style-type:none;
}
.cont ul p{
	text-align: center;
	font-size: 200%;
	font-family: 'Marck Script', serif;
	font-weight: 500;
	color: #0000EE;
}
.letter{
    margin-top:10px ;
    
}
.letter p{
    text-align: center;
    font-size: 160%;
    font-family: 'Marck Script', serif;
    font-weight: 500;
    color: #0000EE;
}
#poch {
	margin: 0 auto;
	background: url(../img/poch.png) 0 0 no-repeat;
        width: 100px;
        height: 100px;
        display: block;
}
#poch:hover{
	background: url(../img/poch-hover.png) 0 0 no-repeat;
	
        width: 100px;
        height: 100px;
}
	
#ok i {
	color: orange;
}
#vk i {
	color: #615FB9;
}
#fecbook i{
	color:#336699;
}
textarea {
    width: 90%;
    font-family: Arial, sans-serif;
    font-size: 90%;
    color: #444;
    padding: 5px;
}
/* Категория */
.katalog { /* общие стили для блока */
width: 99%; /* общая ширина блока */
margin: 0 auto;
}
.katalog li{ /* стили для элементов списка */
float: left; /* миниатюры располагаются слева от соседней */
margin: 50px 10px 0px 0;
overflow: hidden;
background: #E6E6E6;
padding: 60px;
border: 1px dotted green;
overflow:hidden; /* скрываем все что не поместилось в ячейку */
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
position: relative;
}
.katalog h1{
	color: rgb(0, 42, 0);
	text-align: center;
	padding: 2px 0 0 0;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	font-style: normal;
	font-size: 190%;

	
}
.katalog h2{
    color: rgba(55, 158, 4, 0.72);
    margin: 0 0 0 -28px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 160%;
    border-bottom: 1px solid #2A5228;
}
.more{
	display: block;
	padding: 11px 11px 0 11px;
	width: 231px;
	margin: 7px 0 0 61px;
	color: #486738;
	font-weight: 600;
	position: relative;
	float: right;
	font-size: 100%;
}

.more i{
	float: left;
	font-size: 160%;
	position: relative;
	top: 45px;
	left: -44px;
	color: #8D2DB3;
}
.more:hover{
	color: red !important;
}

#interesting_articles{
 position: relative;
 margin: 10px 0;   /*  Отступы от верхнего и нижнего края */
 float: left;     /* Прижимаем блок к левому краю */
 width: 100%;  /* Длина блока соответствует ширине страницы */
 background: #E6E6E6;
 padding: 33px;
 border: 2px solid white;
}
#interesting_articles ul {
 	margin-left: 5px;  /*  Внешний отступ от левого края страницы */
 	padding: 10px;
	position: relative;
}
#interesting_articles li {
 list-style: none;  /* Отменяем нумерацию списка (1,2,3 и т.д.) */
}
.inteimg h3{
	background: url(../img/int.png) 0 0 no-repeat;
	position: absolute;
    top: -23px;
	left: -14.5px;
	z-index: 5;
	padding: 12px;
	font-size: 120%;
	font-family: 'Marck Script', cursive;
	color:rgb(1, 11, 60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0.1, Direction=90, Color=#ffffff)";/*IE 8*/
	text-shadow: 0em 0em 0.1em #ffffff;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0.1, Direction=90, Color=#ffffff); /*IE 5.5-7*/
}
#cell{
position: relative;
 float: left;   /* Каждая следующая ячейка располагается слева */
 list-style: none;  /* Отменяем родительские стили */
 margin: 5px;  /* Расстояние между ячейками */
 padding: 2px;  /* Отступы от миниатюры до края ячейки */
 text-align: center; /* Текстовые заголовки расположены по центру */
 overflow: hidden;  /* Окончания длинных заголовков, не вместившихся в ячейку, будут скрыты */
 


}
#cell a:hover {
 color: #C6C600;  /* Цвет ссылки при наведении курсора */
 text-decoration:none; /* Убираем подчеркивание ссылки */
}
#cell a{
 color: #000000; /* Цвет ссылки */
 text-decoration:none; /* Убираем подчеркивание ссылки */
}

.imgpost img{
	border: 3px solid silver;
	outline: 0.1em solid #a3a2d1;
	outline-offset: 0.5em;
	min-width: 100px;
	max-width: 150px;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;

}
.imgpost img:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
#txtmin{
	word-wrap: break-word;
}
#txtmin a{
background-color:#345;
  display: block;
  margin: 0;
  color: #FFF;
  font-size: 80%;
  padding: 10px;
  filter:alpha(opacity=75);
  opacity:.75;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
  position: absolute;
  bottom: 10px; left: 10px; right: 10px;
}
.hr {
		width: 100%;
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0, 88, 36, 0.75), rgba(0,0,0,0));
		background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
		background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
		background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.commentlist li {
	padding: 60px;
}
.commentlist li:nth-child(odd){
	background: #D8E2D7;
}
.children ul li:nth-child(odd){
	background: red;
}
.commentlist .even{
	background: yellow;
}
#breadcrumbs{
	background: #E6E6E6;
}
.breadcrumb_last{

    color: #1F4613;
    border: 1px solid;
    padding: 5px;
    background: #E4FADF;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

