@import url(https://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic);
@media screen and (max-width:987px){

#gallery-2 img{
		max-width: 100px !important;
	}
}

@media screen and (max-width:812px){
#gallery-2 img{
		max-width: 70px !important;
	}
}
*{
	padding:0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}
  

body {
	font-size: 16px;
}
.responsive-img{
	 width: 100%;
	 height: auto;
	 width: auto; /* для ie 8 */
	 display: block;
}
.table{
	display: table;
    width: 100%;
    table-layout: fixed;

}
.table-row{
	display: table-row;
}
.table-cell{
	display: table-cell;
    vertical-align: top;
}
.table-cell-1{
	display: table-cell;
    vertical-align: top;
	width: 230px;
    position: relative;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 60px 60px 0 0 / 5px 5px 0 0;
    background-image: linear-gradient(102deg, rgba(0,0,0,.1), rgba(0,0,0,.05) 10px, rgba(0,0,0,0) 20px),linear-gradient(-102deg, rgba(0,0,0,.1), rgba(0,0,0,.05) 10px, rgba(0,0,0,0) 20px);
    background-color: #fff;
    margin: 1em 0 0 -3px;
    z-index: 0;
}
.clearfix{
	z-index: 0;
	/* display: table */
    -height: 1%; /*IE6*/
    *zoom: 1; /*IE6-7*/
    display: table;
	
}
.clearfix:after {
    /*content: '1 1';*/  /*Op15+*/
   content: '1 1 1 1 1 1 1 1 1 1 1'; /*Op12+*/
   font: .1px/0 a;
   display: block;
   word-spacing: 99in;
   overflow: hidden; /*IE8-*/
}
.shell{
	 	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	    font-weight: normal;
	    font-style: normal;
	    text-align: justify;
	    position: relative;
	    width: 100%;
	    min-height: 100%;
	    background-size: 100%;
}

.wrapper{

	background: #FFFFFF;
	border-radius: 0px 0px 19px 19px;
	-moz-border-radius: 0px 0px 19px 19px;
	-webkit-border-radius: 0px 0px 19px 19px;
	border: 0px solid #000000;
	-webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.5);
	padding: 7px;
	margin: 0 auto;
	margin-bottom: 50px;
	position: relative;
	cursor: auto;
	width: 98%;
	min-width: 780px;
	max-width: 1324px;
	 
	
}

.header {
		-webkit-border-radius: 0 0 10px 10px;
	    -moz-border-radius: 0 0 10px 10px;
	    border-radius: 0 0 10px 10px;
	    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	    margin: 0 auto;
	    height: 350px;
	    background-image: url('../img/header.jpg');
	    background-size: 100% 350px;
	    background-position: center top;
	    background-repeat: no-repeat;
	    position: relative;
	   width: 98%;
	   min-width: 780px;
	   max-width: 1324px;
}

 .searchimg{
 	background: url(../img/search.png) 0 0 no-repeat;
 	background-size: 100% 70px;
 	width: 100%;
    height: 84px;
    margin: -26px 0 -19px 0px;
    padding: 0 0 15px 0;
    z-index: 1;

	

} 
.searchform input {
	height: 20px;
	width: 90%;
	margin: 43px 0 0 10px;
	border: none;
	position: relative;
	max-width: 90%;

	
	/* -webkit-border: 1px solid #5A8327;
	-moz-border: 1px solid #5A8327;
	border: 1px solid #5A8327;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(90,130,38,1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(90,130,38,1);
	box-shadow: 0px 0px 20px 0px rgba(90,130,38,1);
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px; */
	
	
}

.searchform [placeholder] {
	color: #5A8327;
	font-weight: bold;
}

input:focus{
	border: none !important;
	/*  -webkit-box-shadow: 0px 0px 92px 0px rgba(92,133,39,1);
	-moz-box-shadow: 0px 0px 92px 0px rgba(92,133,39,1);
	box-shadow: 0px 0px 92px 0px rgba(92,133,39,1);
	-webkit-border: 1px solid #5A8327;
	-moz-border: 1px solid #5A8327;
	border: 1px solid #5A8327; */

} 
.red-tooltip + .tooltip > .tooltip-inner 
{background-color: #5A8327;}

.divmenu{
	 padding: 0;
	 width:100%;
}
.menutop{
	 
}


#topmenu {
	list-style-type:none;
	text-decoration: none;
	padding: 0px 1px 0.4px 0px;
	margin:0 auto;
}
#topmenu li{
	float: right;
	position: relative;
	padding: 15px 0 0 0;
	margin: 0px 19px -19px 0;
	padding-left: 10px;
}
#topmenu li a {
		margin-top: -16px;
		padding: 22px;
		padding-top: 10px;
		letter-spacing: 0.2px;
		font-family: 'Noto Serif', serif;
		font-weight: bold;
		color: #F9DDB2 ;
		display: block;
		filter: none;
		background: #3a611a;
		background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#3a611a),color-stop(1,#729e31));
		background: -ms-linear-gradient(bottom,#3a611a,#729e31);
		background: -moz-linear-gradient(center bottom,#3a611a 0%,#729e31 100%);
		background: -o-linear-gradient(#729e31,#3a611a);
		-moz-background-clip: padding-box;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		/*Firefox*/
		-moz-border-top-left-radius: 0.7em;
		-moz-border-top-right-radius: 0.7em;
		-moz-border-bottom-right-radius: 0em;
		-moz-border-bottom-left-radius: 0em;
		/*Safari, Chrome*/
		-webkit-border-top-left-radius: 0.7em;
		-webkit-border-top-right-radius: 0.7em;
		-webkit-border-bottom-right-radius: 0em;
		-webkit-border-bottom-left-radius: 0em;
		border-top-left-radius: 0.7em;
		border-top-right-radius: 0.7em;
		border-bottom-right-radius: 0em;
		border-bottom-left-radius: 0em;
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0.3, Direction=90, Color=#333333)";/*IE 8*/
	text-shadow: 0em 0em 0.3em #333333;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0.3, Direction=90, Color=#333333); /*IE 5.5-7*/
}
#topmenu li a:hover{
	color: #D69023;

}
.menuleft{
	-webkit-box-shadow: inset 0px 0px 29px 0px rgba(86,194,14,1);
	-moz-box-shadow: inset 0px 0px 29px 0px rgba(86,194,14,1);
	box-shadow: inset 0px 0px 29px 0px rgba(86,194,14,1);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}
.menuleft ul{
	list-style-type:none;
	text-decoration: none;
	padding: 0px 1px 0.4px 0px;
	margin:0 auto;

	
}
ul#s > li {
	 margin: 0px 0 0 20px;
	 list-style: none;
	 float: left;
	 text-align: center;
	 position: relative;
	 padding-top: 12px;

}

ul#s > li > a{
	padding: 11px;
	letter-spacing: 0.2px;
	font-size: 24px;
	font-family: 'Marck Script', serif;
	font-weight: bold;
	color: #60903B ;
	display: block;
	filter: none;

}
ul#s > li a:hover {
	color: white!important;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#3a611a),color-stop(1,#729e31));
	background: -ms-linear-gradient(bottom,#3a611a,#729e31);
	background: -moz-linear-gradient(center bottom,#3a611a 0%,#729e31 100%);
	background: -o-linear-gradient(#729e31,#3a611a);
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	cursor: pointer;
}
.sub-menu{
	display: none;
	position: absolute;
	z-index: 6;
	top: 66px;
}
.sub-menu > li {
	float: none;
	text-align: center;
	background: #7F7F7F;


}
.sub-menu > li:hover{
	background: rgba(58, 97, 26, 0.48);
}
.sub-menu li a {
	color: #474747;
	text-shadow: none;
	font-family: arial, serif;
	font-weight: bold;
	font-style: normal;
	display: block;

	
}
.sub-menu li a:hover{
	color: #474747;
	display: block;
}
/*Галвная меню*/
.act{

	color: green!important;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#3a611a),color-stop(1,#729e31));
	background: -ms-linear-gradient(bottom,#3a611a,#729e31);
	background: -moz-linear-gradient(center bottom,#3a611a 0%,#729e31 100%);
	background: -o-linear-gradient(#729e31,#3a611a);
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;

}

.centeritem{
	    width: 98%;
	    padding: 30px;
	    margin: 20px 20px 0px 10px;
	    background: #fff;
	    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	    border: 1px solid #efefef;
	    -moz-border-radius: 0 0 120px 120px / 0 0 6px 6px;
	    border-radius: 0 0 120px 120px / 0 0 6px 6px;
	    z-index: 0;
	    font-family: Arial;
	    text-align: left;
	    font-weight: 400;
	    text-decoration: none;
	    text-transform: none;
	    font-style: normal;
	    font-size: 100%;
	    line-height: 1.7;
	    letter-spacing: 0.1em;
	    word-spacing: 0em;
	    text-indent: 0em;
	    color: #000000;
	    background: #f7f7f7;
}
.centeritem > h1 {
		margin: 0 auto;
		color: rgba(55, 158, 4, 0.72);
	    margin: 10px 0 0 10px;
	    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	    font-weight: bold;
	    font-style: normal;
	    text-align: center;
	    font-size: 129%;
}
.centeritem p{
	padding: 0 30px;
}
.centeritem > h1 a:visited{
	color: rgba(55, 158, 4, 0.72);
}
.centeritem hr {
	 
	margin: -0.5px  1px 1px 1px;
}

.myfooter img{
		
		padding: 0;
		position: relative;
	    width: 100%;
	    left: 0;
	    bottom: 0;
	    overflow: hidden;
	    background-size:cover;
	    min-width: 100%;
	    height:218px;

}
.contmail{
	position: absolute;
	margin: 0 auto;
	
}
.hidden{
	display: none;
}
#form{
	position: relative;
	text-align: center;
	margin: 0 auto;
	color: black;
	width: 650px;
	min-width: 650px;
	height: auto;
	background: white;
	padding: 3em;
}
#form p{
	font-size: 120%;
}
#form input {
	margin-right: 5em;
}
.formblock{
	text-align: right;
	padding-bottom: 0.3em;
}
.formblock label {
	float:left; 
	padding-left: 5em;
}
#gallery-2,#gallery-1 {
	margin: 0 auto;
    padding: 30px;
}
#gallery-2 img,#gallery-1 img{
	-webkit-box-shadow: 0px 13px 33px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 13px 33px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 13px 33px 1px rgba(0,0,0,0.75);
	margin: 10px;
	max-width: 150px;
	
}
.prodaj{
	width: 209px;
	height: 150px;
	position: absolute;
	top: 300px;
	left: 30%;
	background: url(../img/sale.png) 0 0 no-repeat;
	display: block;
}
.prodaj:hover{
	background: url(../img/sale-hover.png) 0 0 no-repeat;
}
.cont{

}
.cont ul li {
	float: left;
	padding: 14px;
	margin-top: 18px;
	list-style-type:none;
}
#ok i {
	color: orange;

}
.sotset{
	margin-top: 10px;
}
textarea {
    width: 90%;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #444;
    padding: 5px;
}
/* Категория */
.gatpost{
	border: 1px solid #000;
	margin:10%;
	padding:3%;
}
.katalog { /* общие стили для блока */
width: 99%; /* общая ширина блока */
margin: 0 auto; /* внешние отступы сверху и снизу, а также выравнивание по центру */
}
.katalog li{ /* стили для элементов списка */
float: left; /* миниатюры располагаются слева от соседней */
float: left;
margin: 50px 10px 0px 0;
overflow: hidden;
background: white;
padding: 60px;
border: 1px dotted green;
overflow:hidden; /* скрываем все что не поместилось в ячейку */
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
}

#interesting_articles{
 position: relative;
 margin: 10px 0;   /*  Отступы от верхнего и нижнего края */
 float: left;     /* Прижимаем блок к левому краю */
 width: 100%;  /* Длина блока соответствует ширине страницы */
 background: silver;
 padding: 33px;
 border: 2px solid white;
}
#interesting_articles ul {
 	margin-left: 5px;  /*  Внешний отступ от левого края страницы */
 	padding: 10px;
	position: relative;
}
#interesting_articles li {
 list-style: none;  /* Отменяем нумерацию списка (1,2,3 и т.д.) */
}
.inteimg h3{
	background: url(../img/int.png) 0 0 no-repeat;
	position: absolute;
    top: -23px;
	left: -14.5px;
	z-index: 5;
	padding: 12px;
	font-size: 19px;
	font-family: 'Marck Script', cursive;
	color:rgb(1, 11, 60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0.1, Direction=90, Color=#ffffff)";/*IE 8*/
	text-shadow: 0em 0em 0.1em #ffffff;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0.1, Direction=90, Color=#ffffff); /*IE 5.5-7*/
}
#cell{
position: relative;
 float: left;   /* Каждая следующая ячейка располагается слева */
 list-style: none;  /* Отменяем родительские стили */
 margin: 5px;  /* Расстояние между ячейками */
 padding: 2px;  /* Отступы от миниатюры до края ячейки */
 text-align: center; /* Текстовые заголовки расположены по центру */
 overflow: hidden;  /* Окончания длинных заголовков, не вместившихся в ячейку, будут скрыты */
 


}
#cell a:hover {
 color: #C6C600;  /* Цвет ссылки при наведении курсора */
 text-decoration:none; /* Убираем подчеркивание ссылки */
}
#cell a{
 color: #000000; /* Цвет ссылки */
 text-decoration:none; /* Убираем подчеркивание ссылки */
}

.imgpost img{
	border: 3px solid silver;
	outline: 0.1em solid #a3a2d1;
	outline-offset: 0.5em;
	min-width: 100px;
	max-width: 150px;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;

}
.imgpost img:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
#txtmin{
	word-wrap: break-word;
}
#txtmin a{
background-color:#345;
  display: block;
  margin: 0;
  color: #FFF;
  font-size: 12px;
  padding: 10px;
  filter:alpha(opacity=75);
  opacity:.75;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
  position: absolute;
  bottom: 10px; left: 10px; right: 10px;
}
#category h1{
	color: rgba(55, 158, 4, 0.72);
	text-align: center;
	padding: 2px 0 0 0;
	font-family: 'Marck Script', Helvetica, Sans-Serif;
	font-weight: bold;
	font-style: normal;
	font-size: 190%;
	
}
#category h2{
    color: rgba(55, 158, 4, 0.72);
    margin: 0 0 0 -28px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    font-size: 140%;
    border-bottom: 2px solid red;
}
.hr {
		width: 71%;
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0, 88, 36, 0.75), rgba(0,0,0,0));
		background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
		background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
		background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
		position: absolute;
		top: 105px;
}